.title{
    background-color: #1F1F33;
    color: white;
}
.card {
  padding: 2% 5%;
}
img {
  border-radius: 5px;
}
.container {
  padding: 2px 16px;
}
.date {
  color: #7a7dcc;
  font-size: 12px;
}
.button {
  color: white;
  font-size: 15px;
  padding: 14px 20px;
  margin: 8px 0;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #7a7dcc;
  &:hover {
    opacity: 0.8;
  }
}
